@import "vars";

/*==========  Desktop First  ==========*/

// ≤1200px   /*0.82*/
@include media-breakpoint-down(lg) {
  .h1 {
    font-size: 2.5em;
    padding: 100px 0 40px 0;
  }
  .h2 {
    font-size: 52px;
    margin-bottom: 50px;
  }
  header {
    height: 731px;
  }
  .icon_text {
    padding: 0px 35px;
  }
  .how_to_get .fa-angle-double-right {
    left: 307px;
    bottom: 221px;
  }
  .investigate .cost .h3 {
    font-size: 30px;
  }
  .investigate .cost .price_wrap .h3 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 18px;
  }
  .investigate .cost .price_wrap .price {
    font-size: 36px;
    margin-bottom: 25px;
  }
  .investigate .cost .price_wrap .to_pay {
    padding: 10px 64px 10px;
    font-size: 16px;
  }

}



// ≤992px   /*0.64*/
@include media-breakpoint-down(md) {
  .h1 {
    font-size: 2em;
    padding: 60px 0 25px 0;
  }
  .h2 {
    font-size: 41px;
    margin-bottom: 40px;
  }
  .h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  header {
    height: 634px;
  }
  header .thesis {
    font-size: 15px;
    padding-bottom: 28px;
  }
  .typical_button {
    padding: 18px 25px;
    font-size: 15px;
    border-bottom: 4px solid #1f85ab;
  }
  section {
    padding: 60px 0 60px 0;
  }
  .step {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .scince_theme {
    font-size: 14px;
  }
  .compat {
    font-size: 19px;
    margin-bottom: 37px;
  }
  .main_text {
  }
  .how_to_get {
    height: 615px;
  }
  .icon_text {
    padding: 0;
  }
  .how_to_get .fa-angle-double-right {
    left: 224px;
    bottom: 185px;
  }
  .investigate .cost .h3 {
    font-size: 30px;
  }
  .investigate .cost .price_wrap .h3 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .investigate .cost .price_wrap .price {
    font-size: 30px;
    margin-bottom: 23px;
  }
  .investigate .cost .price_wrap .to_pay {
    padding: 11px 66px 10px;
    font-size: 16px;
  }
  .contacts .h3 {
    font-size: 19px;
  }
}

// ≤768px   /*0.48*/
@include media-breakpoint-down(sm) {
  .h1 {
    font-size: 1.7em;
    padding: 35px 0 18px 0;
  }
  .h2 {
    font-size: 41px;
    margin-bottom: 40px;
    text-align: center;
  }
  .h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  header {
    background-position: 75% !important;
    height: 467px;
  }
  header .thesis {
    font-size: 14px;
    padding-bottom: 25px;
  }
  .what_to_do .typical_button {
    padding: 11px 15px;
    font-size: 15px;
    border-bottom: 3px solid #1f85ab;
  }
  section {
    padding: 60px 5vw 60px 5vw;
  }
  .img_honina {
    text-align: center;
  }
  .step {
    font-size: 14px;
    margin-bottom: 32px;
  }
  .scince_theme {
    font-size: 14px;
  }
  .compat {
    font-size: 16px;
    margin-bottom: 42px;
  }
  .because {
    margin-bottom: 35px;
    font-size: 14px;
  }
  .how_to_get {
    height: 1118px;
    background-position: 10%;
  }
  .icon_wrap {
    margin-bottom: 20px;
  }
  .icon_text {
    margin-bottom: 60px;
  }
  .how_to_get {
    .fa-angle-double-right {

      transform: rotate(90deg);
    }
    .fadd_1 {
      top: 257px;
      left: 285px;
    }
    .fadd_2 {
      top: 230px;
      left: 285px;
    }
  }

  .investigate .cost .price_wrap {
    padding: 30px 0;
    margin-bottom: 40px;
  }
  .investigate .cost .h3 {
    font-size: 28px;
  }
  .investigate .cost .price_wrap .h3 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .investigate .cost .price_wrap .price {
    font-size: 28px;
    margin-bottom: 23px;
  }
  .investigate .cost .price_wrap .to_pay {
    padding: 11px 66px 10px;
    font-size: 16px;
  }
  .questions .call_form .textarea_wrap {
    height: auto;
    min-height: auto;
  }
  .questions .call_form .button_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .questions {
    .call_form {
      .button_wrap {
        .g-recaptcha {
          margin: 0 0 20px 0;
        }
      }
    }
  }
  section.articles {
    padding-top: 60px;
    padding-bottom: 57px;
  }
  .articles .articles_wrap .date {
    text-align: center;
  }
  .contacts .h3 {
    margin-left: 0;
    text-align: left;
  }
  .contacts .phone_wrap {
    margin-bottom: 30px;
  }
  //#rc-imageselect,
  //.g-recaptcha {
  //  transform:scale(0.77);
  //  -webkit-transform:scale(0.77);
  //  transform-origin:0 0;
  //  -webkit-transform-origin:0 0;
  //}
}

// ≤576px /*0.38*/
@include media-breakpoint-down(s) {
  .h1 {
    font-size: 1.5em;
    padding: 20px 0 13px 0;
  }
  .h2 {
    font-size: 38px;
    margin-bottom: 35px;
  }
  .h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  header {
    height: 510px;
    padding: 0 5vw 0 5vw;
  }
  header .thesis {
    padding-bottom: 15px;
  }
  section {
    padding: 50px 5vw 50px 5vw;
  }
  .typical_button {
    padding: 12px 15px;
    font-size: 12px;
    border-bottom: 3px solid #1f85ab;
    letter-spacing: .5px;
  }
  .subtitle {
    font-size: 17px;
  }
  .text {
    font-size: 14px;
  }
  .how_to_get {
    height: 840px;
  }
  .icon_wrap {
    min-width: 100px;
    min-height: 100px;
  }
  .icon_text {
    padding: 0 30px;
    margin-bottom: 35px;
  }

  .how_to_get {
    .fa-angle-double-right {
      display: none;
    }
  }

  .investigate .cost .price_wrap {
    padding: 30px 0;
    margin-bottom: 30px;
  }
  .investigate .cost .price_wrap_2 {
    margin-bottom: 0;
  }
  .investigate .cost .h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .investigate .cost .price_wrap .h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .investigate .cost .price_wrap .price {
    font-size: 24px;
    margin-bottom: 23px;
  }
  .investigate .cost .price_wrap .to_pay {
    padding: 10px 55px 10px;
    font-size: 14px;
  }
  .questions .form-group .call_submit {
    font-size: 16px;
    padding: 13px 48px;
  }
}

@media (max-width:375px) {
  .questions {
    .call_form {
      .button_wrap {
        .g-recaptcha {
          width:100%;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  header {
    height: 600px
  }
  .how_to_get {
    height: 963px;
  }
  .icon_text {
    padding: 0;
    margin-bottom: 35px;
  }
}